* { 
  line-height: 1.4em; 
}

body { 
  background: #ffbb44; /* #ff9610; */
  margin: 0; 
  padding: 0;
}

:link { color: #771028; }
:visited { color: #400a20; }
:link:hover, :visited:hover { background-color: #ffc844; }

.topmatter {
  border-bottom: solid 0.3em #980101;
  font: normal 90% italic serif;
  margin: 0.3em 0 1em 0;
  overflow: hidden;
  padding: 0 2%;
}

.topmatter .langlink,
.topmatter .helplink {
  float: right;
  margin: 0 0 0 2em;
}

.topmatter strong {
  font-weight: normal;
}

.topmatter strong a:after { content: " \2013 " attr(title); }
.topmatter :link, .topmatter :visited { text-decoration: none; }

p.ingress {
  color: #980101;
  font: italic normal 1.2em/1.2em serif;
  margin: 0.6em 2em 1.4em;
  padding: 0;
  text-align: left;
}

.menu, .menu * { line-height: 1.2em; }
div.menu {
  border-left-width: 1px;
  border: solid 0 #980101;
  font: normal 90% sans-serif;
}
.menu h2 { margin: .2em .4em; padding: 0; font-size: 14pt; }
.menu ul { margin: 0; padding: 0; }
.menu li {
  background-image: url(smalltop.png);
  background-position: 0 5px;
  background-repeat: no-repeat;
  display: block;
  margin: 0;
  padding: 0 0 0 0.8em;
}
.menu li.label {
  background-image: none;
  font-weight: bold;
  padding: 0 0 0 0.2em;
}
.menu :link, .menu :visited { text-decoration: none; }
.menu li:hover, .menu li:hover * { 
  background: url(smalltop.png) #cc8010; 
  background-position: 0 5px;
  background-repeat: no-repeat;
}
.menu li:hover :link, .menu li:hover :visited { text-decoration: underline; }
.menu hr, hr.mainend { display: none; }

.toclevel-2,
.toclevel-3,
.toclevel-4,
.tocnumber {
  display: none !important;
}

h1 { margin: 1em 0 0 0; }
h2, h3 { margin: 1.2em 0 0 0; }
h4, h5, h6 { margin: 0.8em 0 0 0; }
h1 { font: italic normal 2.8em/1em gentium, serif; }
h2 { font: italic normal 2em/1em gentium, serif; }
#bodyContent h2 { border-bottom: solid 1px #ee7708; }

p {
  margin: 0;
}

div#preContent,
div#bodyContent,
div#footer {
  margin: 0 auto;
  max-width: 50em;
  padding: 0 1ex;
}

#footer {
  border-top: solid 1px #980101;
}
#footer p {
  text-align: right;
  margin: .4em 0;
  padding: 0;
}
#footer p.dated {
  font-size: 80%;
  font-style: italic;
}
table#toc {
  background: #fff;
  float: right;
  margin: 10px 0px 10px 10px;
}

pre {
  background: #eaeaea;
  padding: 10px;
}

table.listing {
    border-collapse: collapse;
    width: 100%;
    margin: 1em 0;
}
table.listing th {
    border-bottom: solid 1px #980101;
    text-align: left;
}
table.fsstatus td:nth-child(3),
table.fsstatus td:nth-child(5),
table.fsstatus td:nth-child(6) {
    text-align: right;
}

@media screen and (min-width: 35em) {
    div#wrap {
	padding: 0 26% 0 0;
    }
    div.menu {
	position: absolute;
	right: 1%;
	top: 3em;
	width: 18em;
	max-width: 24%;
        border-width: 0 0 0 0.1em;
    }

    body.stacken h1 {
	font-size: 8em;
	margin: 0;
	opacity: .2;
    }
    body.stacken p.ingress {
	font-size: 1.4em;
	margin-top: -2em;
	text-shadow: 0 0 0.5ex rgba(255, 255, 255, 0.8);
    }

    table.fsstatus th:nth-child(4) {
	width: 50%;
    }
    table.fsstatus td:nth-child(4) {
	border-left: solid 1px #980101;
	padding: 0;
    }
    table.fsstatus td {
	white-space: nowrap;
    }
    table.fsstatus .bar {
	font-size: 80%;
	line-height: 1.1em;
	display: inline-block;
	border: solid #888;
	border-width: 1px 1px 1px 0;
	text-align: right;
    }
    table.fsstatus .bar.used {
	background: green;
	background: rgba(255,255,0,0.5);
	background: -moz-linear-gradient(to bottom, rgba(255,255,0,0.5), rgba(255,255,255,0.5) 30%, rgba(255,255,0,0.5));
	background: linear-gradient(to bottom, rgba(255,255,0,0.5), rgba(255,255,255,0.5) 30%, rgba(255,255,0,0.5));
    }
    table.fsstatus .bar.free {
	background: green;
	background: rgba(0,255,0,0.5);
	background: -moz-linear-gradient(to bottom, rgba(0,255,0,0.5), rgba(255,255,255,0.5) 30%, rgba(0,255,0,0.5));
	background: linear-gradient(to bottom, rgba(0,255,0,0.5), rgba(255,255,255,0.5) 30%, rgba(0,255,0,0.5));
    }
}
